doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Hotel | #{ title }
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', type='image/png', href='/img/logo-green-round.png')
      link(
        rel='stylesheet',
        href='https://fonts.googleapis.com/css?family=Lato:300,300i,700'
      )
      script(src="https://js.stripe.com/v3/")
  body(data-alert=`${alert?alert:''}`)
    // HEADER
    include _header

    // CONTENT
    block content


    // FOOTER
    include _footer
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    script(src='/js/bundle.js')

//- bundle.js e ek file e sob script file ace with their dependency so npm run watch:js dile js folder e bundle.js name ekta file create hobe jeta internal sob change index.js er ta bundle js e rakhbe as per we set it on package.json script