extends base
block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg#signincolor Create new account
      form.signup.form.form--signup
        .form__group
          label.form__label#formColor(for='name') Name
          input#name.form__input(type='text', minlength=3, placeholder='Your name', required)
        .form__group
          label.form__label#formColor(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label#formColor(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label#formColor(for='password-confirm') Confirm Password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn-text Sign up